body{
    margin-right: 15px;
  }
  
  h4 {
      padding-top: 0;
  }
  
  .desplegable select {
      font-size: small;
      margin-top: 8px; 
      margin-bottom: 0;
    }
  
    .text-sm {
      color: grey;
      
    }
  
    p {
      margin: 0;
    }
    
    .cuadro{
      min-height:max-content;
      border-radius:4px;
      height: auto;
      width: auto;
      
    }
  
    i {
      color: white;
      position: relative;
      z-index: 2; 
    }